@model Estoque.Domain.Entities.Solicitante

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

@if(ViewBag.Erro != null)
{
    <h4>@ViewBag.Erro</h4>
}

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class=row>
        <dt class=col-sm-2>Id</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.Id)</dd>

        <dt class=col-sm-2>Nome</dt>
        <dd class=col-sm-10>@Html.DisplayFor(model => model.Nome)</dd>
    </dl>
</div>
<div>
    <a asp-action=Edit asp-route-id=@Model?.Id>Editar Dados</a> | 
    <a asp-action=Index>Voltar Para Lista</a>
</div>