@model Estoque.Domain.Entities.MaquinaSolicitada;

@{
    ViewData["Title"] = "Editar Solicitação";
}

<h1>Editar</h1>

@if (ViewBag.Erro != null)
{
    <h4>@ViewBag.Erro</h4>
}

<h2>Aviso: Quando a Solicitação é fechada, a quantidade de produtos em estoque é alterada.</h2>
<h4>Solicitação</h4>
<hr />
<form asp-action=Edit>
    <div asp-validation-summary=ModelOnly class=text-danger></div>
    <div class=form-group>
        <label class="control-label">Nome do Equipamento</label>
        <input type="text" name=nomeEquipamento class=form-control />
        <span class=text-danger></span>
    </div>
    <div class=form-group>
        <label asp-for="QtdSolicitada" class="control-label">Quantidade Disponível</label>
        <input asp-for=QtdSolicitada type="number" class=form-control />
        <span asp-validation-for=QtdSolicitada class=text-danger></span>
    </div>
    <div class=form-group>
        <label asp-for="Concluida" class="control-label">Conluída?</label>
        @Html.CheckBoxFor(modelItem => Model.Concluida)
        <span asp-validation-for=Concluida class=text-danger></span>
    </div>
    <div class=form-group>
        <label class="control-label">Nome do Solicitante</label>
        <input type="text" name=nomeSolicitante class=form-control />
        <span class=text-danger></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Editar Dados" class="btn btn-primary" asp-action=Edit method=post />
    </div>
</form>